---
import Layout from "../layouts/Layout.astro";

const EXPEDITIONS = [
  {
    name: "blue",
    background: { checked: "aria-checked:bg-blue-500" },
    text: "text-blue-500",
    border: "border-blue-500",
  },
  {
    name: "yellow",
    background: { checked: "aria-checked:bg-yellow-500" },
    text: "text-yellow-500",
    border: "border-yellow-500",
  },
  {
    name: "gray",
    background: { checked: "aria-checked:bg-gray-200" },
    text: "text-gray-200",
    border: "border-gray-200",
  },
  {
    name: "green",
    background: { checked: "aria-checked:bg-green-500" },
    text: "text-green-500",
    border: "border-green-500",
  },
  {
    name: "red",
    background: { checked: "aria-checked:bg-red-500" },
    text: "text-red-500",
    border: "border-red-500",
  },
];

const WAGERS = [1, 2, 3];

const SCORES = [
  { score: 2, emoji: "2️⃣" },
  { score: 3, emoji: "3️⃣" },
  { score: 4, emoji: "4️⃣" },
  { score: 5, emoji: "5️⃣" },
  { score: 6, emoji: "6️⃣" },
  { score: 7, emoji: "7️⃣" },
  { score: 8, emoji: "8️⃣" },
  { score: 9, emoji: "9️⃣" },
  { score: 10, emoji: "🔟" },
];
---

<script>
  import Alpine from "alpinejs";

  Alpine.data("expedition", () => ({
    get size() {
      return this.wagers.size + this.scores.size;
    },

    wagers: new Set<number>(),
    toggleWager(wager: number) {
      // uncheck higher wagers
      if (wager < this.wagers.size) {
        for (const index of this.wagers) {
          if (index > wager) {
            this.wagers.delete(index);
          }
        }
      }

      // check all wagers up to the selected one
      else if (wager > this.wagers.size) {
        for (let index = 0; index < wager; index++) {
          this.wagers.add(index + 1);
        }
      }

      // uncheck all wagers up from the selected one
      else {
        for (const index of this.wagers) {
          if (index >= wager) {
            this.wagers.delete(index);
          }
        }
      }
    },

    scores: new Set<number>(),
    toggleScore(score: number) {
      if (this.scores.has(score)) {
        this.scores.delete(score);
      } else {
        this.scores.add(score);
      }
    },

    get totalScore() {
      if (this.size === 0) {
        return 0;
      }

      const scores = Array.from(this.scores).reduce(
        (acc, score) => acc + score,
        0
      );

      const expeditionCost = 20;
      const bigExpeditionBonus = this.size >= 8 ? 20 : 0;
      const multiplier = this.wagers.size + 1;

      return (scores - expeditionCost) * multiplier + bigExpeditionBonus;
    },
  }));
</script>
<Layout>
  <div
    class="py-3"
    x-data={`{
      ${EXPEDITIONS.map(({ name }) => `${name}: expedition(),`).join("")}
      get total() {
        return ${EXPEDITIONS.map(({ name }) => `this.${name}.totalScore`).join(" + ")};
      }
    }`}
  >
    <table class="table table-sm text-center">
      <thead>
        <tr>
          <th></th>

          {
            EXPEDITIONS.map(() => (
              <th>
                <div class:list={["m-auto size-6 rounded-full bg-red-500"]} />
              </th>
            ))
          }
        </tr>
      </thead>

      <tbody>
        {
          WAGERS.map((wager) => (
            <tr>
              <th class="text-xl">🤝</th>

              {EXPEDITIONS.map(({ name, background, border }) => (
                <td>
                  <button
                    name={`${name}-wager-${wager}`}
                    role="checkbox"
                    x-bind:aria-checked={`${name}.wagers.has(${wager})`}
                    x-on:click={`${name}.toggleWager(${wager})`}
                    class:list={[
                      "btn btn-square btn-xs",
                      border,
                      background.checked,
                    ]}
                  >
                    🤝
                  </button>
                </td>
              ))}
            </tr>
          ))
        }

        {
          SCORES.map(({ score, emoji }) => (
            <tr>
              <th class="text-xl">{emoji}</th>

              {EXPEDITIONS.map(({ name, text }) => (
                <td>
                  <input
                    name={`${name}-score-${score}`}
                    type="checkbox"
                    class:list={["checkbox", text]}
                    x-bind:checked={`${name}.scores.has(${score})`}
                    x-on:change={`(${name}.toggleScore(${score}))`}
                  />
                </td>
              ))}
            </tr>
          ))
        }

        <tfoot>
          <tr>
            <th class="text-xl rotate-90">🧮</th>

            {
              EXPEDITIONS.map(({ name }) => (
                <td>
                  <span x-text={`${name}.totalScore`} />
                </td>
              ))
            }
          </tr>
        </tfoot>
      </tbody>
    </table>

    <div class="divider"></div>

    <div class="stat">
      <div class="stat-title">Total</div>
      <div class="stat-value" x-text="total"></div>
    </div>
  </div>
</Layout>
